---
layout: default
---

<div class="home">

	<div class="panel panel-default">
    	<div class="panel-heading">Latest blog posts</div>
        	<div class="panel-body">
				<ul class="post-list">
    				{% for post in site.posts %}
					{% assign count = count + 1 %}
      				<li>
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
						<h4>
						  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</h4>
				  </li>
						{% if forloop.index0 == 2 %}
							{% break %}
						{% endif %}
    				{% endfor %}
  				</ul>

				<a href="/blog/">View more...</a>

			</div>
		</div>
</div>
